/* Service Icons */
.wtdrm-icon-service,
.wtdrm-icon-service-sm { background-image: url('service@sm.svg') !important; background-size: contain; }
.wtdrm-icon-service-off-sm { background-image: url('service@sm.svg') !important; background-size: contain; }
.wtdrm-icon-service-md { background-image: url('service@md.svg') !important; background-size: contain; }
.wtdrm-icon-service-off-md { background-image: url('service@md.svg') !important; background-size: contain; }
.wtdrm-icon-service-lg { background-image: url('service@lg.svg') !important; background-size: contain; }
.wtdrm-icon-service-off-lg { background-image: url('service@lg.svg') !important; background-size: contain; }
/* Other Icons */
.wtdrm-icon-opportunity { background-image: url('opportunity_16.svg') !important; background-size: contain; }
.wtdrm-icon-opportunityAction { background-image: url('opportunityaction_16.svg') !important; background-size: contain; }
.wtdrm-icon-workReport { background-image: url('workreport_16.svg') !important; background-size: contain; }
.wtdrm-icon-expenseNote { background-image: url('expensenote_16.svg') !important; background-size: contain; }
.wtdrm-icon-timetable { background-image: url('timetable_16.svg') !important; background-size: contain; }
.wtdrm-icon-timetableStamps { background-image: url('timetable-stamps_16.svg') !important; background-size: contain; }
.wtdrm-icon-timetableRequests { background-image: url('timetable-requests_16.svg') !important; background-size: contain; }
.wtdrm-icon-timetableReport { background-image: url('timetable-report_16.svg') !important; background-size: contain; }
.wtdrm-icon-timetableDaily { background-image: url('timetable-daily_16.svg') !important; background-size: contain; }
.wtdrm-icon-timetableList { background-image: url('timetable-list_16.svg') !important; background-size: contain; }
.wtdrm-icon-ticket { background-image: url('ticket_16.svg') !important; background-size: contain; }
.wtdrm-icon-job { background-image: url('job_16.svg') !important; background-size: contain; }
.wtdrm-icon-configuration { background-image: url('configuration_16.svg') !important; background-size: contain; }
.wtdrm-icon-configurationActivities { background-image: url('configuration-activities_16.svg') !important; background-size: contain; }
.wtdrm-icon-configurationCompanies { background-image: url('configuration-companies_16.svg') !important; background-size: contain; }
.wtdrm-icon-configurationLineManagers { background-image: url('configuration-linemanagers_16.svg') !important; background-size: contain; }
.wtdrm-icon-configurationDocStatuses { background-image: url('configuration-docstatuses_16.svg') !important; background-size: contain; }
.wtdrm-icon-configurationProfiles { background-image: url('configuration-profiles_16.svg') !important; background-size: contain; }
.wtdrm-icon-configurationTimeProfiles { background-image: url('configuration-timeprofiles_16.svg') !important; background-size: contain; }
.wtdrm-icon-configurationEmployeeProfiles { background-image: url('configuration-profiles_16.svg') !important; background-size: contain; }
.wtdrm-icon-configurationHolidayDates { background-image: url('configuration-holidaydates_16.svg') !important; background-size: contain; }
.wtdrm-icon-timetableRequest-sent { background-image: url('timetable-request-sent_16.svg') !important; background-size: contain; }
.wtdrm-icon-timetableRequest-approved { background-image: url('timetable-request-approved_16.svg') !important; background-size: contain; }
.wtdrm-icon-timetableRequest-declined { background-image: url('timetable-request-declined_16.svg') !important; background-size: contain; }
.wtdrm-icon-timetableCancRequest-new { background-image: url('timetable-requestcanc-new_16.svg') !important; background-size: contain; }
.wtdrm-icon-timetableCancRequest-approved { background-image: url('timetable-requestcanc-approved_16.svg') !important; background-size: contain; }
.wtdrm-icon-stampDefault { background-image: url('stamp-default_16.svg') !important; background-size: contain; }
.wtdrm-icon-stampCompany { background-image: url('stamp-company_16.svg') !important; background-size: contain; }
.wtdrm-icon-stampType-default { background-image: url('stamp-type-default_16.svg') !important; background-size: contain; }
.wtdrm-icon-stampType-exit { background-image: url('stamp-type-exit_16.svg') !important; background-size: contain; }
.wtdrm-icon-stampType-special { background-image: url('stamp-type-special_16.svg') !important; background-size: contain; }
.wtdrm-icon-initializeOpportunity { background-image: url('opportunity-initialize_16.svg') !important; background-size: contain; }
.wtdrm-icon-associateTicket { background-image: url('job-linkticket_16.svg') !important; background-size: contain; }
.wtdrm-icon-mailto { background-image: url('mailto_16.svg') !important; background-size: contain; }
.wtdrm-icon-office { background-image: url('configuration-companies_16.svg') !important; background-size: contain; }
.wtdrm-icon-smartworking { background-image: url('smartworking_16.svg') !important; background-size: contain; }

.wtdrm-trash-trigger { background-image: url('trash-trigger.png') !important; }
.wtdrm-add-trigger { background-image: url('add-trigger.png') !important; }
.timetablerequest-grid-row-ownrequests { background-color: rgba(249, 249, 147, 0.6); }
.opportunity-grid-row-expired { background-color: rgba(255, 109, 109, 0.6); }
.opportunity-grid-row-notexpired { background-color: rgba(185, 255, 165, 0.6); }
.opportunity-grid-row-closed { background-color: rgba(209, 209, 209, 0.6); }
.wtdrm-grid .header .x-column-header-text {font-size: 12px; font-weight: bold; }
.wtdrm-grid .rows { font-size: 10px !important; }
.timetablereport-grid-row-correct { background-color: rgba(185, 255, 165, 0.6); }
.timetablereport-grid-row-plus { background-color: rgba(125, 172, 231, 0.6); }
.timetablereport-grid-row-minus { background-color: rgba(255, 109, 109, 0.6); }